.button-link {
  background-color: rgb(49, 49, 49);
}

.dark {
  background-color: rgb(34, 34, 34);
  
}
.dark body {
  background-color: rgb(34, 34, 34);
}
.light {
  background-color: white;
}
body > .light {
  background-color: white;
}
.dark h2,
.dark select,
.dark option {
  color: var(--title-color);
  word-break: break-word;
}
.light h2,
.light select,
.light option {

  word-break: break-word;
}

header h1 {
  word-break: break-word;

  font-size: 40px;
  text-transform: uppercase;
}

.text-view {
  position: relative;
}
/* text bloc */
/*.text-view::before,
.text-view::after {
  position: absolute;
  content: "";
  width: 50px !important;
  height: 50px;
}
.text-view::before {
  margin: -25px;
  border-top: 5px solid rgb(133, 133, 133);
  border-left: 5px solid rgb(181, 181, 181);
}
.text-view::after {
  margin-right: 20px;
  border-bottom: 5px solid rgb(133, 133, 133);
  border-right: 5px solid rgb(181, 181, 181);
  right: 0;
}*/
.dark footer {
  color: black !important;
}
@media (max-width: 768px) {
  .text-view::before,
  .text-view::after {
    position: absolute;
    content: "";
    width: 25px !important;
    height: 25px;
  }
}
